:root{
    --relegation-colour: lightsalmon;
    --champions-leage-colour: lightblue;
    --europa-league-colour: green;
    --abstieg-colour: lightcoral;
    --base-colour: lightgray;
}
tr:nth-child(-n+5){
    background-color: var(--champions-leage-colour);
}
tr:nth-child(11n+6) {
    background-color: var(--relegation-colour);
}
tr:nth-child(2n + 8){
    background-color: var(--base-colour);
}
tr:nth-last-child(3){
    background-color: orange;
}
tr:nth-last-child(-n+2){
    background-color: var(--abstieg-colour);
}

/* lauras changes <3 */
img{
    vertical-align: middle;
}
th:nth-child(2) {
    text-align: center;
}
tr:nth-child(2){
    font-weight: bold;
}
tr:nth-child(-2n + 5) {
    background-color: mediumblue;
}
tr:nth-last-child(-2n+1){
    background-color: red;
}
tr:nth-child(1){
    background-color: transparent;
}